# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\intelij_proj\venAuthPlugin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
